*
  margin 0
  padding 0
  box-sizing border-box
  font-family 'Work Sans'

h1
  font-size 3em
  font-weight 700
  text-align center
 
h2
  border-right deepblue 1px solid
  font-size 3em
  margin-left 8%
  
h3
  font-size 1.5em
  text-align center

p
  font-size 1.1em
  padding 0.5em
  margin-left 10%
  margin-right 10%

@font-face
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), url("WorkSans.ttf") format('truetype');

