doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Revision history & contacts')
        title Revision history and contacts

        link(rel='stylesheet', href='index.css')

    body
        h1 Revision history
        h3 version 1.0.0, 16 July 2018
        p written by Claudio Agosti, claudio 
            i at 
            | tracking.exposed, 
            a(href="https://keybase.io/vecna") PGP
            |, 
            a(href="https://twitter.com/@_vecna") @_vecna
        p Revisions, feedback, corrections by: Ciaby, Velenux, Dan, Saverio, Barbara (also translation and editing!), Riccardo
