/* the default inherit size for .nav-link in main.scss
   turns to be 1.3 and it looks small */
.nav-link {
  font-size: 1.9rem !important;
}

/* classes used in the presentation (or in their shortcodes */

.pro {
 background-color: #cbefdc;
 border-radius: 5px;
} /* this is to list the "pro" of a choice */

.con {
  background-color: #fae7e5;
  border-radius: 5px;
} /* pro and con, this is for the 'con' */

/* below customization for our color palette */
.bg-yt {
  background-color: #D9230F;
}
.bg-trex {
  background-color: #46b3a5;
}
.bg-clima {
  background-color: #0C8346;
}
.bg-standard {
  background-color: #f7f9fb;
}

/* I wasn't able to take this out from html, 
   I used <span>, as indicated in the webslides.

.bg-stripes {
  background-image:url('/images/smoke.jpeg');
}
*/

h1 {
    font-weight: bold;
    text-align: center;
}
h1 span {
    width: 15.8rem;
}


[class*='bg-yt'] {
  color: #030303;
}

[class*='bg-standard'] {
  color: #030303;
} 

[class*='bg-black'],
[class*='bg-gradient-'] {
  color: #fff;
  text-shadow: 0 1px 0 #D9230F;
}

.primary {
  color: #030303;
}
.secondary {
  color: #D9230F;
}
.third {
  color: #fff;
}
.fourth {
  color: #0C8346;
}

.hlight {
  fill: black;
  font-size: 1.2em;
  color: #0C8346;
}

.other {
  fill: green;
}
 