<div class="wrap">
  <h2>Who am I? <code>Claudio Agosti</code></h2>
  <hr>
  <div class="grid">
    <div class="column">
      <h3>1999 - 2011</h3>
      <p>Computer security, privacy activism.</p>
      <figure>
        <img src="/images/slides/hacker-irony.jpg" />
      </figure>
    </div>
    <div class="column">
      <h3>2011 - 2016</h3>
      <p>NGOs, whistleblowing protection.</p>
      <figure>
        <img src="/images/partner/cropped-hermes_transparent-1.png" />
      </figure>
      <br>
      <figure class="content-center">
        <img src="/images/partner/globaleaks.png" />
      </figure>
      <br>
      <figure class="content-center">
        <img src="/images/slides/trackography.jpg" />
      </figure>
    </div>
    <div class="column">
      <h3>2016+</h3>
      <p>Founded Tracking Exposed, Research associate.</p>
      <figure>
        <img src="/images/partner/alex.png" />
      </figure>
      <br>
      <figure class="content-center">
        <img src="/images/partner/datactive.jpg" />
      </figure>
    </div>
    <div class="column">
      <h3>Special trivia</h3>
      <p>Engineered recipe for the fluffiest pancake</p>
      <figure>
        <img src="/images/slides/claudio-pancake.jpg" />
      </figure>
    </div>
  </div>
  <!--end .grid -->
</div>