<section class="bg-standard">
  <div class="wrap">
    <code>
      RESEARCH QUESTIONS:
      </code>
    <h2>
      <strong>does Youtube personalize the search results?</strong>
    </h2>
    <hr>
    <div class="grid vertical-align">
      <div class="column">
        <h4>
          Can we artificially put a profile under our control, into an echo chamber?
        </h4>
      </div>
      <div class="column">
        <h4>
          Does YouTube’s algorithm contribute to filter bubbles with their search results?
        </h4>
      </div>
      <div class="column">
        <h4>
          Which are the qualitative and quantitative differences among echo chambers?
        </h4>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="wrap aligncenter">
    <code>METHODOLOGY DESIGN</code>
    <img class="aligncenter size-70" src="https://youtube.tracking.exposed/images/ws21/method.png" />
  </div>
</section>

<section>
  <div class="wrap">
    <img class="alignleft size-40" src='https://youtube.tracking.exposed/images/ws21/net1.jpg' />
  </div>
</section>

<section>
  <div class="wrap">
    <img class="alignleft size-100" src="https://youtube.tracking.exposed/images/ws21/cake.png" />
  </div>
</section>

<section>
  <div class="wrap">
    <img class="alignleft size-40" src="https://youtube.tracking.exposed/images/ws21/net2.jpg" />
  </div>
</section>

<section>
  <p class="text-symbols">* * * </p>
    <p class="text-intro third">
    And the US election distortion recorded on search results
    <br>
    (<a style="color: #030303" target="_blank" href="https://youtube.tracking.exposed/filtertube">Search-results analysis</a>)
    </p>
</section>