<section class="bg-standard">
  <div class="wrap">
    <h3>Youtube and the search results</h3>
    <code>RESEARCH QUESTIONS</code>
    <ol>

    </ol>
    <li>
      Does YouTube ’s algorithm enforce a filter bubble and polarization pattern based on an (artificially generated)
      echo chamber?
    </li>
    <li>
      Are there differences in the videos suggested as search results across different user types?
    </li>
    <li>
      Are there differences in comments to the videos suggested as search results across different user types?
    </li>
    </p>
  </div>
  </div>

</section>

<section class="bg-standard">
  <span
    class="background"
    style="background-image:url('https://youtube.tracking.exposed/images/ws21/method.png')"></span>
</section>

<section class="bg-standard">
  <span
    class="background"
    height="100%"
    style="background-image:url('https://youtube.tracking.exposed/images/ws21/net1.jpg')"></span>
</section>

<section class="bg-standard">
  <span
    class="background"
    style="background-image:url('https://youtube.tracking.exposed/images/ws21/cake.png')"></span>
</section>

<section class="bg-standard">
  <div class="wrap">
    <img style="zoom:2.5;"
      src="https://youtube.tracking.exposed/images/ws21/net2.jpg" />
</section>

<section class="bg-standard">
  <div class="wrap">
  </div>
</section>

<section>
  <div class="wrap">
  </div>
</section>

<section class="bg-yt">
  <div class="wrap aligncenter fadeIn slow">
    <h1><b>F I N D I N G S </b></h1>
    <br>
    <p class="text-symbols">* * * </p>
    <p class="text-intro" style="color: #fff">
      A small summary of the most interesting results
    </p>
  </div>
</section>