<div class="wrap">
  <h2>Tracking.Exposed is supported by</h2>
  <hr>
  <div class="grid">
    <div class="column">
      <h3>Reset.tech</h3>
      <img src="/images/partner/reset.jpg" width=50% /> 
    </div>
    <div class="column">
      <h3>NGI Ledger</h3>
      <img src="/images/partner/LEDGER.png" width=50% /> 
    </div>
    <div class="column">
      <h3>Consulting</h3>
      <ol>
        <li>Third-party algorithm assessment</li>
        <li>Election monitoring</li>
        <li>Workshops and trainings on Algorithm analysis</li>
      </ol>
    </div>
  </div>
  <!--end .grid -->
</div>