<div class="wrap">
  <h2>Tracking Exposed is a no-profit organization that produces free software</h2>
  <hr>
  <div class="grid">
    <div class="column content-center">
      <h3>Currently supported by</h3>
      <br>
      <figure><img src="/images/partner/reset.jpg" width="120em" /></figure>
      <br>
      <figure><img src="/images/partner/mozilla.svg" /></figure>
      <br>
      <figure><img src="/images/partner/LEDGER.png" width="160em" /></figure>
    </div>
    <div class="column content-center">
      <h3>In the past</h3>
      <br>
      <figure><img src="/images/partner/ERC-white.jpg" /></figure>
      <br>
      <figure><img src="/images/partner/uva.png" /></figure>
      <br>
      <figure><img src="/images/partner/keepiton.jpg" width="190em" /></figure>
    </div>
    <div class="column">
      <h3>Offering services of</h3>
      <br>
      <ol>
        <li>Third-party algorithm assessment</li>
        <li>Election monitoring</li>
        <li>Workshops and trainings on algorithm analysis</li>
      </ol>
    </div>
  </div>
  <!--end .grid -->
</div>