<div class="wrap">
  <div class="grid vertical-align">
    <div class="column">
      <h1 class="slideInLeft aligncenter">Narrative example: <br /> <b>Climate Misinformation</b></h1>
      <p class="text-symbols aligncenter" style="color: #CBC9AD">* * * </p>
      <p class="aligncenter">
        <code><a target="_blank" href="https://avaazimages.avaaz.org/youtube_climate_misinformation_report.pdf" style="color: #8a8547">AVAAZ report, 2019 </a></code>
      </p>
      <h5 class="alignleft">"For the search term “global warming,” 16% of the top 100 related videos included under
        the up-next feature and suggestions bar had
        misinformation about climate change."</h5>
      <h5 class="alignleft"><b>"YouTube is driving its users to climate misinformation and the world’s most trusted
          brands are paying for it."</b></h5>
    </div>
    <div class=column>
      <img class="zoomIn" src="https://youtube.tracking.exposed/images/slides/avaazwwf.png">
    </div>
  </div>
</div>