<div class="wrap">
  <div class="grid vertical-align">
    <div class=column>
      <img class="zoomIn aligncenter" style="width: 100%;"
        src="https://youtube.tracking.exposed/images/slides/greta2.png">
      <img class="zoomIn" src="https://youtube.tracking.exposed/images/slides/eni6.png">
      <p class="aligncenter">
        <i> Eni was fined for €5 millions because of "deceptive" claims that palm oil biodiesel is
          "green", misleading consumers in an advertisement campaign (<a target="_blank"
            href="https://www.wsj.com/articles/eni-to-appeal-italian-fine-for-diesel-ads-11579112280"
            style="color: #908c4d">Wall Street Journal</a>) </i>
      </p>
    </div>
    <br>
    <div class="column">
      <h2 class="slideInRight"><b>Is Greenwashing targeting climate activists?</b></h2>
      <p class="text-symbols" style="color: #CBC9AD">* * * </p>
      <h4 class="alignleft">
        <code>Research question</code>
        <br>
        Let's compare the ads provided us while watching climate videos
      </h4>
    </div>
  </div>
</div>