<div class="wrap">
  <h2>The first decision before algorithm analysis</h2>
  <strong>From the research question to the methodology</strong>
  <hr>
  <div class="grid">
    <div class="column">
      <h3>Real people</h3>

      <ul class="pro">
        <li>🚀"Data Donation".</li>
        <li>🚀People has consumers and human rights, and they can be represented in court.</li>
        <li>🚀Allow to focus less on algorithm and more on qualitative analysis.</li>
      </ul>

      <ul class="con">
        <li>😿Expensive to get a representative sample.</li>
        <li>😿Suggested role separation between data processors.</li>
        <li>😿Difficult to draw comparison and think about algorithmic discrimination.</li>
      </ul>

    </div>
    <div class="column">
      <h3>Personas</h3>

      <ul class="pro">
        <li>🚀Also known as Sock Puppet Audit.</li>
        <li>🚀Allow precise comparison.</li>
      </ul>

      <ul class="con">
        <li>😿"Cold boot" problem.</li>
        <li>😿Bots have no rights.</li>
        <li>😿Bots might get banned.</li>
      </ul>

    </div>
    <div class="column">
      <h3>Hybrid mode</h3>

      <ul class="pro">
        <li>🚀Easy to be communicated and deployed.</li>
        <li>🚀Allows to freeze in time how a platform and an algorithm was behaving in a specific time.</li>
      </ul>

      <ul class="con">
        <li>😿Can answer to a reduced set of research questions</li>
      </ul>

    </div>
  </div>
  <!--end .grid -->
</div>