<div class="wrap">
  <h3>How an <strong>analysis pipeline</strong> works for us</h3>
  <ul class="flexblock activity text-mostly">
    <li>
      <div>
        <p class="year">1. Explore</p>
        <p class="summary">
          Find a narrative, a clue. Identify the problem you want to investigate.
        </p>
        <p><b>
            Result:
          </b>
          research question
        </p>
      </div>
    </li>
    <li>
      <div>
        <p class="year">2. Design</p>
        <p class="summary">
          Find the right methodology to collect all the evidences
        </p>
        <p><b>Goal:</b> a roadmap</p>
      </div>
    </li>
    <li>
      <div>
        <p class="year">3. Collect</p>
        <p class="summary">
          Evidences of algoritic discrimination (raw data, metadata, screenshots, ...)
        </p>
        <p><b>Produce:</b> data, a lot of</p>
      </div>
    </li>
    <li>
      <div>
        <p class="year">4. Report</p>
        <p class="summary">
          Depending if your goal is an academic paper, an awareness campaign, or a strategic litigation different
          criteria of accuracy should be me
        </p>
        <p><b>Release🎉</b></p>
      </div>
    </li>
  </ul>
</div>