<div class="wrap">
  <h3>How an <strong>analysis pipeline</strong> works for us</h3>
  <ul class="flexblock activity">
    <li>
      <div>
        <p class="year">1. Explore</p>
        <p class="summary">
          Find a narrative, a clue. Identify the problem you want to investigate.
        </p>
        <p class="title">
          Result: research question
        </p>
      </div>
    </li>
    <li>
      <div>
        <p class="year">2. Design</p>
        <p class="summary">
          Find the right methodology to collect all the evidences
        </p>
        <p class="title">Goal: a roadmap</p>
      </div>
    </li>
    <li>
      <div>
        <p class="year">3. Collect</p>
        <p class="summary">
          Evidences of algoritic discrimination (raw data, metadata, screenshots, ...)
        </p>
        <p class="title">Product: data, a lot of</p>
      </div>
    </li>
    <li>
      <div>
        <p class="year">4. Analyze and Report</p>
        <p class="summary">
          Depending if your goal is an academic paper, an awareness campaign, or a strategic litigation different
          criteria of accuracy should be me
        </p>
        <p class="title">Release🎉</p>
      </div>
    </li>
  </ul>
</div>