<section class="aligncenter">
  <div class="wrap">
    <h2>The complexity we've to manage behind the scene</h2>
    <hr>
    <div class="grid vertical-align">
      <div class="column">
        <figure>
          <img src="/images/slides/tiktok-style-1.png" />
        </figure>
      </div>
      <div class="column">
        <figure>
          <img src="/images/slides/tiktok-style-2.png" />
        </figure>
      </div>
    </div>
    <!--end .grid -->
  </div>
</section>

<section class="aligncenter">
  <div class="wrap">
    <h2>Basic TikTok exploration steps</h2>
    <hr>
    <div class="grid vertical-align">
      <div class="column">
        <h4 class="mb-1 mt-5 text-center">
          Install the browser extension
        </h4>
        <div class="row mb-5">
          <div class="col-6 text-center">
            <a target="_blank" href="https://addons.mozilla.org/en-US/firefox/addon/triktroktrex/">
              <div class="icon-big firefox-icon"></div><br />
            </a>
            for Firefox browser
          </div>
          <div class="col-6 text-center">
            <a target="_blank"
              href="https://chrome.google.com/webstore/detail/triktroktrex/bigbeiocbgkhndacjnkklogbilfchijf?hl=it&authuser=0">
              <div class="icon-big chrome-icon"></div><br />
            </a>
            for Chrome or Brave
          </div>
        </div>
      </div>
      <div class="column">
        <figure>
          <img src="/images/slides/tk-extension-v0.png" />
        </figure>
      </div>
    </div>
    <!--end .grid -->
  </div>
</section>


<section class="aligncenter">
  <div class="wrap">
    <h2>The complexity we've to manage behind the scene</h2>
    <hr>
    <div class="grid vertical-align">
      <div class="column">
        <figure>
          <img src="/images/slides/tiktok-style-1.png" />
        </figure>
      </div>
      <div class="column">
        <figure>
          <img src="/images/slides/tiktok-style-2.png" />
        </figure>
      </div>
    </div>
    <!--end .grid -->
  </div>
</section>

<section>
  <div class="wrap">
    <div class="text-center">
      <h2>Every installed extension has a personal evidence log page</h2>
    </div>
    <hr>
    <div class="grid ">
      <div class="column aligncenter">
        <figure>
          <img src="/images/slides/tk-personal-page-v0.png" />
        </figure>
        <small>interface v0</small>
      </div>
      <div class="column text-mostly">
        <p>
          💡 <i>ForYou</i> and <i>Following</i> feed
        </p>
        <p>
          💡 <i>Search Queries</i> results
        </p>
        <p>
          💡 CSV/JSON API
        </p>
        </p>
      </div>
    </div>
    <!--end .grid -->
  </div>
</section>

<section>
  <div class="wrap">
    <div class="text-center">
      <h2>A public index on how Search gets answered by TikTok</h2>
    </div>
    <hr>
    <div class="grid ">
      <div class="column aligncenter">
        <figure>
          <img src="/images/slides/tk-query-page-v0.png" />
        </figure>
        <small>interface v0</small>
      </div>
      <div class="column text-mostly">
        <p>
          💡 Only the last 7 days considered in the index
        </p>
        <p>
          💡 They should have been performed by at least two extensions
        </p>
        <p>
          💡 They should have at least one video
        </p>
        <p>
          💡 CSV/JSON API
        </p>
        <p>
          <a href="https://tiktok.tracking.exposed/queries/">Query list</a>
        </p>
        <p>
          <a target=_blank href="https://tiktok.tracking.exposed/search/#happyness">Example #1 (Happyness)</a>
        </p>
        <p>
          <a target=_blank href="https://tiktok.tracking.exposed/search/#ukraine">Example #2 (Ukraine)</a>
        </p>
      </div>
    </div>
    <!--end .grid -->
  </div>
</section>