<section class="bg-standard">
  <div class="wrap">
    <code>
      RESEARCH QUESTIONS:
      </code>
    <h2>
      <strong>does Youtube personalize the search results?</strong>
    </h2>
    <hr>
    <div class="grid vertical-align">
      <div class="column">
        <h4>
          Can we artificially put a profile under our control, into an echo chamber?
        </h4>
      </div>
      <div class="column">
        <h4>
          Does YouTube’s algorithm contribute to filter bubbles with their search results?
        </h4>
      </div>
      <div class="column">
        <h4>
          Which are the qualitative and quantitative differences among echo chambers?
        </h4>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="wrap aligncenter">
    <img class="aligncenter size-80" src="https://youtube.tracking.exposed/images/ws21/method.png" />
  </div>
</section>

<section>
  <div class="wrap">
    <img class="alignleft size-40" src='https://youtube.tracking.exposed/images/ws21/net1.jpg' />
    <span class="text-mostly">

      <br><br>

      <p>
        💡 Few activities are enough to profile your search results
      </p>
      <p>
        💡 Politically oriented videos are enough to personalize a profile
      </p>
      <p>
        💡 The nature of the media seems to be an emergent pattern tight to political leaning.
      </p>
    </span>
  </div>
</section>


<section>

  <div class="wrap">
    <img class="size-40" src="https://youtube.tracking.exposed/images/ws21/net2.jpg" />
    <img class="size-90" src="https://youtube.tracking.exposed/images/ws21/cake.png" />
  </div>

  <p class="aligncenter text-mostly">
    (<a style="color: #030303" target="_blank" href="https://youtube.tracking.exposed/filtertube">Read the analysis</a>)
  </p>

</section>