<section>
  <div class="wrap">
    <div class="text-center">
      <h2>
        French Elections 2022 — still a <i>work in progress</i>
      </h2>
    </div>
    <hr>
    <div class="grid ">
      <div class="column aligncenter">
        <figure>
          <img src="/images/slides/tk-candidates-fr-stats.png" />
        </figure>
      </div>
      <div class="column text-mostly">
        <p>
          💡 French presidential candidates were not fairly [as respect to vote intentions / equal / ] represented in the search results of both YouTube and TikTok.
        </p>
        <p>
          💡 TikTok, just as Youtube, is used for political discussion and to spread significant amount of candidates air time. These social media are not used just for dancing videos, they should be accountable for their societal impact.
        </p>
      </div>
    </div>
    <!--end .grid -->
  </div>
</section>

<section class="bg-standard">
  <div class="wrap">
    <h2>
      Secondary findings
    </h2>
    <hr>
    <div class="grid vertical-align">
      <div class="column text-mostly">
        <p>
          💡 Candidate popularity on TikTok is more volatile than on YouTube.
        </p>
        <p>
          💡 The known social media algorithmic bias in favour of polarizing content favors candidates on the extreme.
        </p>
        <p>
          💡 Candidate popularity on social media does not directly translate in vote intentions. Ex: Lassale or Zemmour VS Melanchon.
        </p>
        <p>
          💡 Certain hashtags and politicians are used to prompt the algorithm to amplify the content even if they are not relevant for the video. (Algospeak)
        </p>
      </div>
    </div>
  </div>
</section>