<section class="aligncenter">
  <div class="wrap">
    <h2>Hashtag based geographical blocking</h2>
    <hr>
    <div class="grid vertical-align">
      <div class="column">
        <h4>October 2021</h4>
        <figure>
          <img src="/images/slides/tk-putin-october21.png" />
        </figure>
      </div>
      <div class="column">
        <h4>November 2021</h4>
        <figure>
          <img src="/images/slides/tk-putin-november21.png" />
        </figure>
      </div>
    </div>
    <!--end .grid -->
  </div>
</section>

<section class="aligncenter">
  <div class="wrap">
    <h2>Hashtag demotion by platform comparison</h2>
    <hr>
    <div class="grid vertical-align">
      <div class="column">
        <figure>
          <img src="/images/slides/tk-pengshuai.png" />
        </figure>
      </div>
      <div class="column">
        <figure>
          <img src="/images/slides/tk-metoo.png" />
        </figure>
      </div>
    </div>
    <h4>
      Ratio of 1 / 1000 on TikTok
      <br>
      Ratio of 1 / 20 on FB
    </h4>
    <!--end .grid -->
  </div>
</section>

<section class="aligncenter">
  <div class="wrap">
    <h2>Hashtag demotion by platform comparison</h2>
    <hr>
    <div class="grid vertical-align">
      <div class="column">
        <figure>
          <img src="/images/slides/tk-olimpics-pro.png" />
        </figure>
      </div>
      <div class="column">
        <figure>
          <img src="/images/slides/tk-olimpics-con.png" />
        </figure>
      </div>
    </div>
    <h4>
      Ratio of 1 / 100 on Facebook<br>
      Ratio of 1 / 10000 on TikTok
    </h4>
    <!--end .grid -->
  </div>
</section>

<section class="aligncenter">
  <div class="wrap">
    <h2>Selective content amplification</h2>
    <hr>
    <div class="grid vertical-align">
      <div class="column">
        <figure>
          <img src="/images/slides/tk-putin-1.png" />
        </figure>
      </div>
      <div class="column">
        <figure>
          <img src="/images/slides/tk-putin-2.png" />
        </figure>
      </div>
      <div class="column">
        <figure>
          <img src="/images/slides/tk-putin-3.png" />
        </figure>
      </div>
    </div>
    <p>How many actors might influence this?</p>
    <!--end .grid -->
  </div>
</section>

<section class="aligncenter">
  <div class="wrap">
    <h2>February 2022 and the <i>TikTok is not political</i></h2>
    <hr>
    <div class="grid vertical-align">
      <div class="column">
        <figure>
          <img src="/images/slides/tk-wired-screencapture-war.png" />
        </figure>
      </div>
    </div>
    <!--end .grid -->
  </div>
</section>

<section>
  <div class="wrap">
    <div class="text-center"><h2>Every installed extension has a personal evidence log page</h2></div>
    <hr>
    <div class="grid ">
      <div class="column aligncenter">
        <figure>
          <img src="/images/slides/tk-personal-page-v0.png" />
        </figure>
        <small>interface v0</small>
      </div>
      <div class="column text-mostly">
        <p>
          💡 <i>ForYou</i> and <i>Following</i> feed
          </p>
          <p>
          💡 <i>Search Queries</i> results
          </p>
          <p>
          💡 CSV/JSON API
          </p>
        </p>
      </div>
    </div>
    <!--end .grid -->
  </div>
</section>

<section>
  <div class="wrap">
    <div class="text-center"><h2>A public index on how Search gets answered by TikTok</h2></div>
    <hr>
    <div class="grid ">
      <div class="column aligncenter">
        <figure>
          <img src="/images/slides/tk-query-page-v0.png" />
        </figure>
        <small>interface v0</small>
      </div>
      <div class="column text-mostly">
        <p>
          💡 Only the last 7 days considered in the index
          </p>
          <p>
          💡 They should have been performed by at least two extensions
          </p>
          <p>
          💡 They should have at least one video 
          </p>
          <p>
          💡 CSV/JSON API
          </p>
          <p>
            <a href="https://tiktok.tracking.exposed/queries/">Query list</a>
          </p>
          <p>
            <a target=_blank href="https://tiktok.tracking.exposed/search/#happyness">Example #1 (Happyness)</a>
          </p>
          <p>
            <a target=_blank href="https://tiktok.tracking.exposed/search/#ukraine">Example #2 (Ukraine)</a>
          </p>
      </div>
    </div>
    <!--end .grid -->
  </div>
</section>
