<div class="wrap">
  <h1>
    The cleanest algorithm for social media addiction
  </h1>
  <hr>
  <img class="alignleft size-60" src="/images/slides/bluemeth.jpg" alt="bluemeth breaking bad">

  <span class="text-mostly">
    <p>
      Weight more in app behavior rather than external inputs
    </p>
    <p>
      Logaritmic speed in searching for your niche
    </p>
    <p>
      The 15 seconds video part of the selection mechanism
    </p>
    <p>
      Not that bound to the publication date
    </p>
  </span>
  <br>
</div>