<div class="wrap">
  <h1>
    Why TikTok
  </h1>
  <hr>
  <img class="alignleft size-60" src="/images/slides/tk-intercept.jpg" alt="tiktok intercept">

  <span class="text-mostly">
    <p>
      Prominence of the algorithm
    </p>
    <p>
      Legitimate suspicions
    </p>
    <p>
      Huge popularity and contained threat perception
    </p>
    <p>
      Lack of scrutiny
    </p>
    <p>
      The first Non Silicon Valley
    </p>
    <small>
      <i>
        <a href="https://theintercept.com/2020/03/16/tiktok-app-moderators-users-discrimination/">The intercept
          article</a>.
      </i>
    </small>
  </span>
  <br>
</div>