<section class="bg-standard">
  <div class="wrap">
    <h1>🦠...and then COVID-19🦠</h1>
    <br>
    <div class="grid">
      <div class="column">
        <h3>
          Can YouTube Quiet Its Conspiracy Theorists?<br>
          <i>— via New York Times</i><br>
          2nd of March 2020
        </h3>
      </div>
      <div class="column text-mostly">
        <p>Youtube spokeperson Farshad Shadloo said</p>
        <i>
          the company was continually improving the algorithm that generates the recommendations.
          “Over the past year alone, we’ve launched over 30 different changes to reduce recommendations of borderline
          content and harmful misinformation, including climate change misinformation and other types of conspiracy
          videos,” he said. “Thanks to this change, watchtime this type of content gets from recommendations has dropped
          by over 70 percent in the U.S.”
        </i>
      </div>
    </div>
  </div>

</section>

<section class="bg-standard">
  <div class="aligncenter">
    <h1 class="secondary"> <b>
        March 25th 2020 we openly asked to
      </b></h1>
    <br><br><br><br>
    <div class="row mb-5 mt-5">
      <div class="col-sm text-center">
        <img class="zoomIn" src="https://youtube.tracking.exposed/images/slides/slide1.png"><br><br>
        <h4>Add the <a href="https://addons.mozilla.org/en-US/firefox/addon/yttrex/"> Youtube.tracking.exposed </a>
          browser extension. </h4>
        <h5> Go on Youtube.com, logged or not. </h5>
      </div>
      <div class="col-sm text-center">
        <img class="zoomIn" src="https://youtube.tracking.exposed/images/slides/slide2.png"><br><br>
        <h4> Watch five BBC videos about Covid-19 on Youtube. </h4>
        <h5> In five different languages. </h5>
      </div>
      <div class="col-sm text-center">
        <img class="zoomIn" src="https://youtube.tracking.exposed/images/slides/slide3.png"><br><br>
        <h4>All togheter, compare the algorithm suggestion.</h4>
        <h5>And learn how to wash hands.</h5>
      </div>
    </div>
  </div>
</section>

<section class="bg-standard">
  <div class="card-50 bg-yt fadeInUp">
    <figure class="zoomIn"> <img src="https://youtube.tracking.exposed/images/covid.png"> </figure>
    <div class="flex-content">
      <h2>What we observe:</h2>
      <ul class="description">
        <li>
          <b class="text-label third" style="width: 25rem;">Recommended videos:</b>
          Where the personalization algorithm takes action
        </li>
        <li>
          <b class="text-label third" style="width: 25rem;">Participants comparison:</b>
          Personalization can only be understood by comparing different users
        </li>
        <li>
          <b class="text-label third" style="width: 25rem;">Content moderation:</b>
          What about disinformation? Is there a worst curation on non-english lenguages?
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="bg-standard">
  <span class=background></span>
  <div class="wrap">
    <h1 class="slideIn slow secondary"> <b>ANONYMIZATION PROCESS</b></h1>
    <ul class="flexblock metrics">
      <li>
        <h3>01. Unique and secret token</h3>
        <p>Every participant has a unique code attributed to download his/her evidences</p>
      </li>
      <li>
        <h2>02. Your choice</h2>
        <p>With the token, participants can manage the data provided: visualize, download or delete</p>
      </li>
      <li>
        <h2>03. Not our customer</h2>
        <p>We are not obsessed by you ;) We don't collect any data about your location, friends or similar</p>
      </li>
      <li>
        <h2>04. we study youtube </h2>
        <p>We collect evidence about the algorithm's suggestions, like recommended videos</p>
      </li>
    </ul>
  </div>
</section>

<section class="bg-yt">
  <div class="wrap aligncenter fadeIn slow">
    <h1><b>F I N D I N G S </b></h1>
    <br>
    <p class="text-symbols">* * * </p>
    <p class="text-intro" style="color: #fff">
      A small summary of the most interesting results
    </p>
  </div>
</section>

<section class="bg-standard">
  <div class="wrap">
    <div class="grid vertical-align">
      <div class="column">
        <h1 class="secondary slideInLeft"><b>Distribution of Recommendations</b></h1>
        <p class="text-symbols fadeIn slow">* * *</p>
        <h3 class="aligncenter">The vast majority of videos are recommended very few times (1-3 times)</h3>
        <ul class="text-intro aligncenter">
          <li> <br>
            💡 Summing up, <b>57%</b> of the recommended videos have been recommended <b>only once</b> (to a single
            partecipant).
          </li>
          <li> <br>
            💡 Only around <b>17%</b> of the videos have been recommended <b>more than 5 times</b> (out of 68
            partecipants).
          </li>
          </ol>
      </div>
      <div class="column">
        <figure class="zoomIn">
          <img class="svg" src="https://youtube.tracking.exposed/images/wt1/distribution_total.png"></img>
        </figure>
        <p class="zoomIn"> <br><br>
          For example, the first bar represents the videos recommended once. They are more than 800.
        </p>
      </div>
    </div>
  </div>
  </div>
</section>

<section class="bg-standard">
  <div class="wrap">
    <div class="grid vertical-align">
      <div class="column">
        <h1 class="secondary slideInLeft"><b>Distribution of Recommendations</b></h1>
        <p class="text-symbols fadeIn slow">* * *</p>
        <h3 class="aligncenter">Analyzing the recommendations of each signle video, the disctibution doesn't change.
        </h3>
        <ul class="text-intro aligncenter">
          <li> <br>
            💡 <a style="color:#D9230F" target="_blank"
              href="https://youtube.tracking.exposed/wetest/distribution/"><b>Here</b></a> you can find the distribution
            graphs for each lenguage.</a>
          </li>
          <li> <br>
            💡 The <b>only video suggested to all</b> the participants <b>is a live-streamed</b> by BBC in Arabic. It
            appears as a recommendation watching the Arabic video.
          </li>
        </ul>
      </div>
      <div class="column">
        <figure class="zoomIn">
          <img class="svg" src="https://youtube.tracking.exposed/images/wt1/distribution_eng.png"></img>
        </figure>
        <p class="zoomIn"> <br><br>
          For example, the first bar represents the videos recommended once. They are more than 200.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-standard">
  <div class="wrap">
    <div class="grid vertical-align">
      <div class="column">
        <figure class="zoomIn">
          <img class="svg" src="https://youtube.tracking.exposed/images/wt1/gephi_tot.png"></img>
        </figure>
        <p class="zoomIn"> <br><br>
          Users in a circle watching the same videos and get really differentiated suggestions (red nodes)
        </p>
      </div>
      <div class="column">
        <h1 class="secondary slideInRight"><b>Recommendations Network</b></h1>
        <p class="text-symbols">* * *</p>
        <h3 class="aligncenter">Here we can see the network of recommended videos generated by the Youtube algorithm,
          comparing the participants.</h3>
        <ul class="text-intro aligncenter">
          <li> <br>
            💡 Graph of the videos suggested to the participants while watching the video <a style="color:#D9230F"
              target="_blank" href="https://www.youtube.com/watch?v=A2kiXc5XEdU"> “How do I know if I have coronavirus?
              - BBC News” </a>
          </li>
          <li> <br>
            💡 The nodes outside the users in cyrcle are videos suggested to just one participant, they are the most
            personalized.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="bg-standard">
  <div class="wrap">
    <div class="grid vertical-align">
      <div class="column">
        <figure class="zoomIn">
          <img class="svg" src="https://youtube.tracking.exposed/images/wt1/gephi_eng.png"></img>
        </figure>
        <p class="zoomIn"> <br><br>
          Same graph as the previous slide, with some nodes highlighted.
        </p>
      </div>
      <div class="column">
        <h1 class="secondary slideInRight"><b>Recommendations Network</b></h1>
        <p class="text-symbols">* * *</p>
        <h3 class="aligncenter">An example of video suggested just to english-browser participants</h3>
        <ul class="text-intro aligncenter">
          <li> <br>
            💡 A basic example of how our <b>personal information</b> (as the language we speak) is used to personalize
            our experience
          </li>
          <li> <br>
            💡 Here we have a pice of the <b>filter bubble</b>: the algorithm devides us from other users usign our
            personal information
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="bg-standard">
  <div class="wrap">
    <div class="grid vertical-align">
      <div class="column">
        <figure class="zoomIn">
          <img class="svg" src="https://youtube.tracking.exposed/images/wt1/gephi_api.png"></img>
        </figure>
        <p class="zoomIn"> <br><br>
          The same graph as before, but the videos that Youtube says should be recommended are red.
        </p>
      </div>
      <div class="column">
        <h1 class="secondary slideInRight"><b>Official API? No thanks!</b></h1>
        <p class="text-symbols">* * *</p>
        <h3 class="aligncenter">A comparison between offical Youtube data (OfficialAPI) and our independently collected
          dataset</h3>
        <ul class="text-intro aligncenter">
          <li> <br>
            💡 Youtube data are <b>not a good starting point</b> to analyze...the Youtube algorithm!
          </li>
          <li> <br>
            💡 That's why <b>passive scraping tools</b> like youtube.tracking.exposed are a good way to analyze the
            platform independently!
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="bg-yt">
  <div class="wrap size-50 frame" style="border-color: #030303; border-style: dashed;">
    <h1 class="aligncenter primary"> <b>Takeaways</b> </h1>
    <p class="text-symbols primary">* * *</p>
    <ul class="third aligncenter">
      <h4>💡 Filter bubbles do exist, we propose methods to measure them </h4>
      <br>
      <h4>💡 Never trust official API for indipendent research </h4>
      <br>
      <h4>💡 Content moderation is proprotionally effective as much as a country is worthy for Google market </h4>
    </ul>
  </div>
  <br>
  <p class="text-intro third content-center">
    (<a style="color: #030303" target="_blank"
      href="https://www.researchgate.net/profile/Leonardo-Sanna-2/publication/351285419_YTTREX_crowdsourced_analysis_of_YouTube's_recommender_system_during_COVID-19_pandemic/links/60900733a6fdccaebd057c0b/YTTREX-crowdsourced-analysis-of-YouTubes-recommender-system-during-COVID-19-pandemic.pdf">Research
      publication</a>)
    (<a style="color: #030303" target="_blank" href="https://youtube.tracking.exposed/wetest/1/">Call to action</a>)
    (<a style="color: #030303" target="_blank" href="https://youtube.tracking.exposed/wetest/announcement-1/">Analysis
      notes</a>)
  </p>
</section>