<div class="wrap">
  <div class="grid vertical-align">
    <div class="column">
      <h1 class="slideInLeft secondary aligncenter"><b>THE DATA FORMAT</b></h1>
      <p class="text-symbols secondary aligncenter">* * * </p>
      <p class="aligncenter"><code>JSON|CSV simplified structure</code></p>
      <h5 class="aligncenter">Each entry represent a <b>recommended video</b> from Youtube.<br>
        A few are <i>topic-related</i>, a few <i>personalized</i>, and other <i>a mix of the two</i>.
      </h5>
    </div>
    <div class="column">
      <pre class="zoomIn">
      {
          "savingTime": "2021-08-31T17:27:06.213Z",
          "watcher": "muffin-rhubarb-cheese",
          "blang": "en-US",
          "recommendedVideoId": "hFISmpbEg1g",
          "recommendedPubtime": "2018-08-31T17:50:59.000Z",
          "recommendedForYou": "YES",
          "recommendedTitle": "What A Difference A Day Made",
          "recommendedAuthor": "Jamie Cullum",
          "recommendedVerified": true,
          "recommendedViews": 3737849,
          "watchedId": "q-lPwo1GUKw",
          "watchedAuthor": "Jamie Cullum",
          "watchedTitle": "But For Now",
          "watchedViews": 3572985,
          "watchedId": "q-lPwo1GUKw",
      },
          </pre>
    </div>
  </div>
</div>