<section>
  <div class="wrap content-center">
    <div class="text-mostly">
      An executable for Linux, Windows, MacOSX
    </div>
    <br>
    <figure>
      <img src="/images/slides/guardoni.jpg" />
    </figure>
  </div>
</section>

<section>
  <div class="wrap content-center">
    <div class="text-mostly">
      It repeats video so you can train YT into believing something about you
    </div>
    <br>
    <figure>
      <img src="/images/slides/guardoni-greta.jpg" />
    </figure>
  </div>
</section>

<section>
  <div class="wrap content-center">
    <div class="text-mostly">
      And at the end record if and how that behavior is affecting your perception
    </div>
    <br>
    <figure>
      <img src="/images/slides/guardoni-search-results.jpg" />
    </figure>
  </div>
</section>