<div class="wrap">
  <h1>Supported pages</h1>
  <p class="content-center">All of them gets build on personal profile and geographical curation</p>
  <br>
  <br>
  <br>
  <ul class="flexblock">
    <li>
      <h3>Homepage</h3>
      Has sections,<br>
      Has <b>one</b> kind of advertisment
    </li>
    <li>
      <h3>Search results</h3>
      Has sections,<br>
      They are personalized (!),<br>
      and <b>one</b> kind of advertisment
    </li>
    <li>
      <h3>Recommended Videos</h3>
      20 default, up to 120<br>
      With <b>three</b> kind of advertisment
    </li>
  </ul>
</div>