<div class="wrap">
  <h1>Scraping is a complex business — the supported pages</h1>
  <br>
  <br>
  <br>
  <ul class="flexblock text-mostly">
    <li>
      <b>Homepage</b>
      <hr />
      Has sections
      <hr />
      <b>one</b> kind of advertisment
    </li>
    <li>
      <b>Search results</b>
      <hr />
      Has sections<br>
      <hr />
      <b>one</b> kind of advertisment
    </li>
    <li>
      <b>Video page</b>
      <hr />
      Has recommendations, 20 default, up to 120
      <hr />
      <b>four</b> kind of advertisment
    </li>
  </ul>
  <br>
  <br>
  <h4>All of these display personalization based on <b>individual</b>, <b>collective</b>, and <b>geographical</b> profiling</h4>
</div>